/* Шостий пункт */
/* more styles */
@import url("my-imported-styles.css");


/* обнулення стилів */
* {
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }

}

:root {
  --primary-text-color: #000;
  --primary-bg-color: rgb(250, 250, 250);
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 0.875rem;
}

footer {
  --footer-text-color: #fff;
  --fuuter-bg-color: #000;
}


