@import url("common.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
}

h1,
h2,
h3 {
  font-weight: 700;
}
h1 {
  font-size: 1.45rem;
}
h2 {
  font-size: 1.3rem;
}



.footer-social {
}

/* Catolog  start */
.text-uppercase {
  text-transform: uppercase;
}
.bg-dark {
  background-color: black;
}
.text-white {
  color: white;
}
ul.list-unstyled li a {
}
ul.categories li a {
  color: indigo;
  font-size: 1.2rem;
}

ul.categories li a:hover {
  background-color: lightgray;
}

/* Catolog  end */
