.grid-container {
  display: grid;
  grid-gap: 20px;

  /* 1 варіант */
  /*grid-template-areas:
    "header header header"
    ". main main"
    "footer footer footer";*/
}

.header {
  /* 1 варіант */
  /*grid-area: header;*/

  /* 2 варіант */
  grid-column: span 3;
  background-color: #78747340;
}
.sidebar {
}
.main {
  /* 1 варіант */
  /*grid-area: main;*/

  /*2  варіант */
  grid-column: span 2;

  background-color: #a7402740;
}
.footer {
  /* 1 варіант */
  /*grid-area: footer;*/

  /*2  варіант */
  grid-column: span 3;
  background-color: #78747340;
}
